apps/landing/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
apps/landing/**/*.jpg filter=lfs diff=lfs merge=lfs -text
apps/landing/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
apps/app/**/*.ttf filter=lfs diff=lfs merge=lfs -text
apps/landing/**/*.png filter=lfs diff=lfs merge=lfs -text
